.posted{
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.4);

    width: 200px;
    margin: 40px ;
    font-weight: 600;
    padding: 20px 0 ;
    
    display: block;
    
}


.titlebook{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px 20px 0 20px;
}
.desp{
    text-align: justify;
  text-justify: inter-word;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;

  

}

.btnn{
    width: 100%;
    padding: 0 20px;
    
}

.btnbuy{
    color: rgb(32, 32, 32);
font-weight: 600;
background-color: white;
border-radius: 7px;
box-shadow: 0 10px 30px rgba(255, 255, 255, 0.4);

}

.buylink{
    text-decoration: none;
}