*{
    font-family: "Poppins", sans-serif;
    
}

.body{

    background: #f5af19;
  
}

/* -------SCROLLBAR------- */
::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
  }
/* Navbar */
.logo{
    font-size: 40px;
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-weight: 600;
    padding: 0 80px;

}

.link{
    color: rgb(32, 32, 32);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    font-size: 16px;
}
.heading{
    font-size: 40px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.4);
    text-align: center;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    font-weight: 600;
    padding: 20px 0;
}

.subhead{
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  width: 50%;
  width: 70%;
    font-weight: 600;
    padding: 10px 0 ;
}
/* post */

.post{
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.4);
    text-align: center;
    width: 200px;
    margin: 40px ;
    font-weight: 600;
    padding: 20px 0 ;
    transition: ease-in 0.4s;
}



.linkto{
    text-decoration: none;
}